.contenedorTabla {
  padding: 1rem;
  background-color: #efefef;
  border-radius: 0.5rem;
  color: rgb(61, 61, 61);
  border: 1px solid rgb(187, 187, 187);
  -webkit-box-shadow: 0px 15px 36px -9px rgba(77, 208, 225, 1);
  -moz-box-shadow: 0px 15px 36px -9px rgba(77, 208, 225, 1);
  box-shadow: 0px 15px 36px -9px rgba(77, 208, 225, 1);
}
table {
  border-collapse: collapse;
  width: 100%;
}
th {
  padding: 1rem;
  border-bottom: 1px solid rgb(207, 207, 207);
}
td {
  padding: 0.4rem;
}
