.footer {
  padding: 0 3rem;
  color: white;
  font-size: 20px;
  text-align: center;
  background-color: #4dd0e1;
  margin-top: auto;
}
.footer p {
  margin: 0.5rem 0;
}
.bold {
  font-weight: 800;
}
